.winning-number {
    border-radius: 16px;
    margin: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
}
.product-ozlotto {

    .primary-number {
        background-color: #f3d008;
        color: black;
    }
    .secondary-number {
        background-color: #047706;
    }
}

.product-monwedlotto {
    .primary-number {
        background-color: #dc392d;
    }
    .secondary-number {
        background-color: #007eb3;
    }
}

.product-powerball {

    .primary-number {
        background-color: #3653a4;
    }
    .secondary-number {
        background-color: #6a7884;
    }
}

.product-setforlife744 {
    .primary-number {
        background-color: #00838a;
    }
    .secondary-number {
        background-color: #ec7e00;
        color: black;
    }
}