.draw-header {
    height: 166px;
    width: 100%;
    background-size: auto 100%;
}
.product-monwedlotto .draw-header {
    background-image: url('https://www.thelott.com/content/dam/projects/the-lott/results-banners/GC_MW-Results-Tile_1216x332.jpg');
}

.product-ozlotto .draw-header {
    background-image: url('https://www.thelott.com/content/dam/projects/the-lott/results-banners/ALL_Oz-Lotto-Results2_1216x332.jpg');
}

.product-powerball .draw-header {
    background-image: url('https://www.thelott.com/content/dam/projects/the-lott/results-banners/ALL_Powerball-Results_1216x332.jpg');
}

.product-setforlife744 .draw-header {
    background-image: url('https://www.thelott.com/content/dam/projects/the-lott/results-banners/ALL_SFL-Results_1216x332.jpg');
}